:root {
    --windows95: rgb(1, 130, 129);
}

body {
    padding-top: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* iframe cv */

.iframeContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 4rem); /* This subtracts the height of the navbar */
    overflow: hidden;
} 

.iframeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
