:root {
    --windows95: rgb(1, 130, 129);
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Nav bar */

.navFlex {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: var(--windows95);
}

.topNavContent {
    position: relative;
    width: 100vw;
    height: 4rem;
    max-width: 1440px;
}

.topNavContent a {
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
}

.homeImg {
    height: 60%;
    width: 60%;
}

.topNavContent h3 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: 
        translateX(-50%);
        /* translateY(50%); */
    width: fit-content;
    margin: auto;
}

