

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Arial";
}

.topNav {
  position: fixed;
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
  height: 4rem;
  background-color: var(--neutral);
  z-index: 99;
}

.navGrid {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-width: 1440px;
}

.navRHS {
  height: 4rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
}

.navRHS button {
  height: fit-content;
  width: 3.125rem;
  background-color: transparent;
  border: none;
}

.hamburgerOrDropdown {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: 70%;
  width: 70%;
}

.hamburgerOrDropdown button {
  height: 2rem;
  object-fit: scale-down;
}

#hamburgerMenuIcon {
  width: 70%;
}

.house {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.house a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
}

.homeImg {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.homeImg:hover {
  transform: scale(1.1);
}

.titleDiv {
  color: var(--accent);
  text-align: center;
}

.contactMeNav {
  width: 7rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--brand);
  color: var(--accent) !important;
  border-radius: 5%;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.contactMeNav:hover {
  transform: scale(1.025);
}

#dropDownContainerMainNav {
  position: absolute;
  top: calc(50% - 1rem);
  display: grid;
  align-self: end;
  margin-right: 2rem;
}

#listButton {
  height: 2rem;
  width: 7rem;
  border-radius: 5%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  background-color: var(--brand);
  color: var(--accent);
  font-size: large;
  font-weight: bold;
  place-items: start;
  padding: 0.25rem;
  border: solid;
  border-color: var(--brand);
}

#listButton img {
  height: 90%;
  justify-self: end;
}

#listButton:hover {
  cursor: pointer;
}

#listOfLangs {
  display: grid;
  background-color: var(--brand);
  color: var(--accent);
  margin: 0;
  list-style: none;
  grid-template-columns: 1fr;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  z-index: 99;
  border-radius: 5% 0% 5% 5%;
  width: 10rem;
  height: 7rem;
  transform: translateX(-3rem);
}

#listOfLangs:hover {
  cursor: pointer;
}

#listOfLangs li {
  display: flex;
  align-items: center;
}

input {
  pointer-events: none;
  color: var(--accent);
}

@media (max-width: 415px) {
  #dropDownContainerMainNav {
    display: none;
  }
}

@media (min-width: 415px) {
  #hamburgerMenuIcon {
    display: none;
  }
}
