:root {
    --windows95: rgb(1, 130, 129);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    padding-top: 5rem;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Side nav bar */

.sideBar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 3rem;
    height: 20rem;
    top: 13rem;
}

.linkedin {
    width: 100%;
    height: 100%;
    border: solid;
    border-color: blue;
}

.github {
    width: 100%;
    height: 100%;
    border: solid;
    border-color: black;
}

.twitter {
    width: 100%;
    height: 100%;
    border: solid;
    border-color: lightblue;
}

.cv {
    width: 100%;
    height: 100%;
    border: solid;
    border-color: gray;
}

/* Nav bar */

nav {
    display: flex;
    background-color: var(--windows95);
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
}

.contactLink {
    position: absolute;
    top: 1rem;
    bottom: 1.5rem;
    right: 2rem;
}


/* Project Grid */

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 23.5rem));
    justify-content: center;
    width: 80vw;
    margin: 0;
    padding: 0;
    max-width: 1500px;
    gap: 2rem;
}

/* Project box */

.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33.75rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 3%;
    position: relative;
    box-shadow: 0.05rem 0.05rem 0.05rem var(--windows95);
}

/* Project Image */

.imageContainer {
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.projectImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.projectImg:hover {
    transform: scale(1.1);    
}

/* Project Title */

.projectTitle {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.projectTitle:hover {
    text-decoration: underline;
}

.projectTitle h4 {
    margin: 0;
}

/* Langs Used List */

ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
}

ul li{
    display: inline-block;
    margin-right: 0.625rem;
}

.htmlUsed{
    color: rgb(106, 190, 205);
    font-weight: 700;
    font-size: 1.1rem;
}

.cssUsed {
    color: rgb(62, 84, 163);
    font-weight: 700;
    font-size: 1.1rem;
}

.frontendUsed {
    color: rgba(14, 216, 88, 0.75);
    font-weight: 700;
    font-size: 1.1rem;
}

/* Projet Description */

.projectDesc {
    overflow-y: scroll;
    max-height: 6rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 3.25rem;
}

/* See Code button */
/* See demo button */

.seeCodeButton {
    height: 1.8rem;
    width: 5rem;
    background-color:black;
    color: white;
    border: none;
    border-radius: 5%;
    position: absolute;
    transition:
        transform 0.2s ease,
        font-weight 0.2s ease;
    bottom: 1rem;
    left: 1rem;
}

.seeCodeButton:hover{
    transform: scale(1.1);
    font-weight: 700;
}

.seeDemoButton {
    height: 1.8rem;
    width: 5rem;
    background-color:black;
    color: white;
    border: none;
    border-radius: 5%;
    position: absolute;
    transition:
        transform 0.2s ease,
        font-weight 0.2s ease;
    bottom: 1rem;
    left: 7rem;
}

.seeDemoButton:hover{
    transform: scale(1.1);
    font-weight: 700;
}

